@using Asyl.ViewModels
@model CompanyExistingAdsVM[]
@addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"

@section script{
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
}


@*<div class="row">
        <div class="col-xs-8 col-sm-4 col-md-4">
            <div class="form-group">
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2">
        </div>
    </div>
    <div class="container">*@

<div class="container nutpic">

    <h2 style="text-align:center">Your current job ads</h2>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Job Id</th>
                <th>Job Title</th>
                <th>No of Applications</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.ApplicationCount</td>
                    <td><a asp-controller="company" asp-action="applications" asp-route-id="@item.Id" class="btn btn-default">View Applications</a></td>
                    <td><a asp-controller="company" asp-action="DeleteJobAd" asp-route-id="@item.Id" class="btn btn-danger">Delete Job Ad</a></td>
                </tr>
            }
            </tbody>
        </table>
    <a class="btn btn-primary btn-group nutmegbtn paddbtn" asp-controller="Company" asp-action="CreateJobAd">Create new job ad</a>
    </div>



