@using Asyl.ViewModels
@model CompanyExistingAdsVM[]
@addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"

@section script{
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
}

<div class="container">
    <hr />
    <h2>Your current job ads</h2>
    <hr />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Job Id</th>
                <th>Job Title</th>
                <th>Number of Applications</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.ApplicationCount</td>
                    <td><a asp-controller="company" asp-action="applications" asp-route-id="@item.Id" class="btn btn-default">View applications</a></td>
                    <td><a asp-controller="company" asp-action="DeleteJobAd" asp-route-id="@item.Id" class="btn btn-danger">Delete ad</a></td>
                </tr>
            }
            </tbody>
        </table>
    <br />
    <a class="btn btn-primary btn-group nutmegbtn paddbtn" asp-controller="Company" asp-action="CreateJobAd">Create new job ad</a>
    </div>



