@using Asyl.ViewModels
@model MyProfileVM[]
    @addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"

    <head>
        <script>

            function viewApplicationInfo(id) {
                var Description = $("#Description" + id).text();
                var CompanyName = $("#CompanyName" + id).text();
                var Title = $("#Title" + id).text();
                var DurationInWeeks = $("#DurationInWeeks" + id).text();
                var LocationId = $("#Location" + id).text();
                var CoverLetter = $("#CoverLetter" + id).text();

                //anpassar modal
                $('#jobDescription').text(Description);
                $('#companyName').text(CompanyName);
                $('#title').text(Title);
                $('#durationInWeeks').text(DurationInWeeks);
                $('#locationId').text(LocationId);
                $('#coverletter').text(CoverLetter);

                //visa modal
                $('#myModal').modal('show');
            }

        </script>
    </head>
        <div class="container">
            <h2>Your active applications</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Job title</th>
                        <th>Company</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="@string.Format("Title{0}",item.JobAdId)">@item.Title</td>

                            <td id="@string.Format("CompanyName{0}",item.JobAdId)">@item.CompanyName</td>
                            <td id="@string.Format("Location{0}",item.JobAdId)">@item.LocationId</td>
                            <td hidden id="@string.Format("CoverLetter{0}",item.JobAdId)">@item.CoverLetter</td>
                            <td hidden id="@string.Format("Description{0}",item.JobAdId)">@item.Description</td>
                            <td hidden id="@string.Format("FieldOfWork{0}",item.JobAdId)">@item.FieldOfWork</td>
                            <td hidden id="@string.Format("DurationInWeeks{0}",item.JobAdId)">@item.DurationInWeeks weeks</td>
                            <td><button type="button" onclick="viewApplicationInfo(@item.JobAdId)" class="btn btn-primary btn-md">View this application</button></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <br />
